* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  background: #Ebf2f5;
}

:root {
  /* User-Agent defines 16px as 100% */
  font-size: 62.5%;
}

body,
input,
button,
textarea {
  /* Shorthand for setting font properties */
  font: 400 1.8rem/1 "Nunito", sans-serif;

  /* Individual definition of font properties */
  /* font-weight: 400;
  font-size: 18px;
  line-height: 1;
  font-family: 'Nunito', sans-serif; */
}
